@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Roboto', sans-serif; */
}

body{
background: #44a4ed;    
}
.cardCounter{
    width: 15em;
    background:#f1f8f8; 
    border-radius: 25px;
    box-shadow: 10px 15px #f1f;
    
}
.cardCounter h1{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 800;

}
    
#countTex{
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}

.buttons button{
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: 0;
    outline: 0; 
    cursor: pointer;
}
.buttons button:hover{
    background: orange;
}
